[submodule "deps/heaploop"]
	path = deps/heaploop
	url = git@github.com:heapsource/heaploop.git
[submodule "deps/webcaret-router"]
	path = deps/webcaret-router
	url = git@github.com:heapsource/webcaret-router.git
